body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1a1a1a;
    margin: 0;
}

h1 {
    margin-bottom: 20px;
    color: #b026ff;
}

#status {
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 1.2em;
    font-weight: bold;
    color: #b026ff;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px; /* border: 3px solid #333; */
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #2d1b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #3d2b4b;
}

.cell.x {
    color: cya;
}

.cell.o {
    color: #b026ff;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #1064b3;
    color: #00cbcc;
    border: 2px solid #1f11dd;
    border-radius: 5px;
}

button:hover {
    background-color: #0c43db;
}

/* clt+sh+a -- alt+mouse */